<%= render "shared/header" %>
 
<% if user_signed_in? %>
<h1 class = title>未アポリスト</h1>
  <% n = 1 %>
  <% @orders.each do |order| %>
    <%if order.delivery_date == nil %>
      <%=link_to(edit_order_path(order)) do%>
        <div class= 'order-list'>
          <div class= 'num'><%= n %></div>
          <%n +=  1%>
          <div class= 'order_number'><%= order.order_number %></div>
          <div class= 'order_name'><%= order.name %></div>
          <div class= 'order_tel'><%= order.tel %></div>
          <div class= 'order_postal'><%= order.postal %></div>
          <div class= 'order_address'><%= order.address %></div>
          <div class= 'order_product'><%= order.product %></div>
        </div>
      <% end %>
    <%end%>
  <%end%>
<%end%>
<div class= titles >
  <h1 class = title>アポ済カレンダー</h1>
    <%=link_to(done_orders_path) do%>
      <p class = done-btn>本日確定受注番号</p>
    <% end%>  
</div>
<% 7.times do |d| %>
  <% days = ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"] %>
  <% day = Date.today.wday + d%>
    <% if day > 6 %>
      <% day = day - 7 %>
    <% end %>
  <% if day != 0 %>
    <% wday = days[day] %>
      <P class= 'deys-info'><%= Date.today + d %> <%= wday %> </P>
    <% 10.times do |h|%>
      <% 2.times do |ap|%>
       <%n = 1 %> 
        <% @orders.each do |order| %>
          <% if order.delivery_date == Date.today + d && order.driver.id == h && order.ampm.id == ap %>
            <%=link_to(order_path(order)) do%>
              <div class= 'order-list'>
                <div class= 'num2'><%= n %></div>
                <%n += 1%>
                <div class= 'order_number2'><%= order.order_number %></div>
                <div class= 'order_driver2'><%= order.driver.name %></div>
                <div class= 'order_ampm2'><%= order.ampm.name %></div>
                <div class= 'order_address2'><%= order.address %></div>
                <div class= 'order_product2'><%= order.product %></div>
                <div class= 'order_text2' ><%= order.text %></div>
                <div class= 'order_apointer' ><%= order.apointer %></div>
                <% if user_signed_in? %>
                  <%= link_to '編集', edit_order_path(order), class:"edit-btn" %>
                <% end%>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <%if n > 1 %>
          <div class='line'></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render "shared/footer" %>